*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 16px;
}

header{
    padding: 12px 72px;
    background: linear-gradient(to right, #00feba, #5f548a);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.logo h1{
    font-size: 54px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    margin: 0 24px 0 0;
    font-size: 1.25rem;
}

footer{
    padding: 12px 72px;
    background: linear-gradient(to right, #00feba, #5f548a);
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.main-content{
    margin: 64px auto;
    width: 80%;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.prep-gallery{
    width: 16%;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: ease 0.3s;
}
