*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html, body{
    font-family: 'Poppins', Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

header{
    padding: 12px 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    color: #fff;
}

.logo h1{
    font-size: 54px;
}
.logo h1 a{
    color: #fff;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    margin: 0 24px 0 0;
    font-size: 1.25rem;
}
nav ul li a{
    color: #fff;
}
.prep-menu-list{
    padding: 12px;
    display: none;
    position: relative;
    background-color: #212529;
}
.prep-menu-list li{
    padding: 4px;
}
.preparation:hover .prep-menu-list{
    display: block;
    position: absolute;
}

/* Main Content  */

.main-content{
    margin: 144px auto;
    width: 80%;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.prep-gallery{
    width: 196px;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #124cec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.prep-gallery:hover{
    font-size: 1.25rem;
}

/* Footer  */

footer{
    padding: 24px 72px;
    background-color: #212529;
    width: 100%;
    text-align: center;
    color: #fff;
}